body{
  margin:0;
}

.frame{
  display: flex;
  height: 34px;
  padding: 10px 360px 10px 360px;
  justify-content: center;
  align-items: center;
}

.frame-item-1{
  font-family: Noto Sans TC;
  font-size: 30px;
  font-weight: 700;
  color: #489;
  min-width: 150px;
} 

.frame-item-2{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 875px;
  
} 

.frame-item-3{
  display: flex;
  height: 34px;
  min-width:84px;
  padding: 10px 10px;
  align-items: center;
  color: #666666;
  background-color:#FFF;
  border:transparent;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size:16px;
  line-height: 13.3px;
    }
    
.frame-item-4{
  display: flex;
  height: 34px;
  min-width:91px;
  padding: 10px 10px;
  align-items: center;
  color: #666666;
  background-color:#FFF;
  border:transparent;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size:16px;
  line-height: 13.3px;
    } 

.frame2{
  background-image: url("101.png");
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  height: 320px;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
}

.slogan{
  display: flex;
  width: 1180px;
  height: 149px;
  padding: 10px 10px;
  flex-direction: column;
  align-items: flex-start;
}

.slogan-item-1{
  display: flex;
  width: 1180px;
  height: 41px;
  margin-bottom: 15px;
  flex-direction: column;
  color:#F8F8F8;
  font-family: Noto Sans TC;
  font-size: 28px;
  line-height: 24px;
  font-weight: 700;
  
}

.slogan-item-2{
  display: flex;
  width: 1180px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  color:#F8F8F8;
  font-family: Noto Sans TC;
  font-size: 16px;
  line-height: 13.3px;
  font-weight: 700;
  
}

.slogan-item-3{
  display: flex;
}

.slogan-item-3-text{
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MDAiIGhlaWdodD0iNDYiIHZpZXdCb3g9IjAgMCA0MDAgNDYiIGZpbGw9Im5vbmUiPgo8cGF0aCBkPSJNMCA1QzAgMi4yMzg1OCAyLjIzODU4IDAgNSAwSDQwMFY0Nkg1QzIuMjM4NTcgNDYgMCA0My43NjE0IDAgNDFWNVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPg==");
  background-size: cover;
  width: 370px;
  height: 16px;
  padding:15px 15px;
  border:transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 20px 0px #ABC;
  font-family: Noto Sans TC;
  font-size: 16px;
  line-height: 13.3px;
  font-weight: 700;
}

.slogan-item-3-button{
  background-image: url("search_bg.png");
  width: 60px;
  height: 46px;
  flex-shrink: 0;
  border:transparent;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.slogan-item-3-button-icon{
  background-image: url('search_icon.png');
  background-size: 30px 30px;
  height: 30px;
  flex-shrink: 0;
  background-position: 50%;
  background-repeat: no-repeat;
}

.frame3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.frame3-listbar {
  display: flex;       /* 使用 flex 使項目並排顯示 */
  overflow-x: hidden;    /* 允許在需要時水平滾動 */
  white-space: nowrap; /* 防止項目換行 */      
  align-items: center;
  max-width: 1086px;
  height: 24px;
  padding: 13px 10px;
  margin: 0 10px 0 10px;
  scroll-behavior: smooth;
}


.frame3-listbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  padding: 5px 15px;
  color: #666666;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  font-style: normal;
  cursor: pointer;  /*手手*/      
}

.frame3-listbar-item:hover {
  color: #000;     
}

.frame3-left-button{
  background-image: url('button-left.png');
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: transparent;
}

.frame3-left-button:hover{
  background-image: url('button-left-Hovered.png');
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: transparent;
}

.frame3-right-button{
  background-image: url('button-right.png');
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border:transparent;
}

.frame3-right-button:hover{
  background-image: url('button-right-Hovered.png');
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border:transparent;
}

.frame4{
  display: flex;
  max-width: 1170px;
  margin: 0 auto; /* 在水平方向上居中 */
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 30px;
  padding: 15px;
}

.frame4-item{
  box-sizing: border-box;
  flex-basis: calc(23%); 
  flex-wrap: wrap;
  align-items:flex-end;
  height: 242px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid;
  border-color: #E8E8E8;
  position: relative;
}

.frame4-item-img{
  display: block;
  height: 197px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.frame4-item-img img {
  width: 100%; /* 让图片的宽度填充整个容器 */
  height: 197px; 
  object-fit: cover; /* 使图片覆盖整个容器，超出部分将被裁剪 */
}

.frame4-item-name{
  display: flex; 
  justify-content: flex-start; 
  padding: 10px 10px;
  background-color: #000; 
  background-color: rgba(0, 0, 0, 0.6);
  color:#FFF;  
  font-family: Noto Sans TC; 
  font-size: 16px; 
  font-weight: 700; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 43.5px;
  overflow-wrap: break-word;
}


.frame4-item2{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 25px; 
  padding: 10px 10px;
  border-color: #E8E8E8;
}

.frame4-item2-mrt{
  color: #757575; 
  font-family: Noto Sans TC; 
  font-size: 16px; 
  font-weight: 500; 
  line-height: 13.3px;
}

.frame4-item2-category{
  color: #757575; 
  font-family: Noto Sans TC; 
  font-size: 16px; 
  font-weight: 500; 
  line-height: 13.3px"
}

.footer{
  display: flex;
  background-color:#757575;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 104px;
  margin: 0;
}

@media (max-width:1200px){
  /*螢幕寬度小於1200，套用此區塊CSS*/
  .frame{
    width:90%;
    padding: 10px 0 10px 0;
    margin-left: 5%;
  }
  .frame-item-2{
    width: 90%;
    min-width: 25px;
  }

  .slogan{
    width: 90%;
  }

  .slogan-item-3-text{
    width: 195px;
    padding:15px 20px 15px 15px;
    color:#757575
  }

  .frame3-listbar {
    width:90%;
  }
  
  .frame4{
    width:90%;
  }

  .frame4-item{
    flex-grow: 1;
    flex-basis: calc(45%);
  }
}

@media (max-width:360px){
  .frame{
    padding: 10px 0 10px 10px;
  }
  .slogan{
    width: 320px;
  }
  
  .slogan-item-1{
    text-shadow: 0px 0px 30px #ABC;
  }
  
  .frame3-listbar {
    margin: 0;
  }

  .frame4-item{
    flex-basis: calc(80%);
    height: 280px;
  }
  .frame4-item-img{
    height: 235px;
    flex-grow: 1;
    flex-basis: calc(80%);
  }
  
  
  .frame4-item-img img{
    height: 235px;
  }

  .frame4-item-img-div{
    top: 195px; 
  }
}