<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attraction</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/Week3CSS.css" />
</head>
<body>
    <div class="header">
        <h2 class="title" id="Title">台北一日遊</h2>
        <div class="space"></div>
        <button class="button_plan" id="button_plan">預定行程</button>
        <button class="frame-item-4">登入/註冊</button>
        <button class="frame-item-5">登出系統</button>
    </div>
    <div class="frame">
        <div class="content">
                <div class="img_container">
                    <button class="button-img-left" id="button-img-left"></button>
                    <div class="image_div" id="image_div">
                        <!-- <div class="image"><img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg"></div> -->
                        <div class="pot_container">
                            <!-- <div class="pot"></div> -->
                        </div>
                    </div>
                    <button class="button-img-right" id="button-img-right"></button>
                </div>
                <div class="plan_selector">
                    <div class="name">平安鐘</div>
                    <div class="category_at_mrt_container">
                        <div class="category">公共藝術</div>
                        <div class="at">at</div>
                        <div class="mrt">忠孝復興</div>
                    </div>
                    <form class="booking_form">
                        <div class="booking_form_title">訂購導覽行程</div>
                        <div class="booking_form_title2">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        <div class="date_container">
                            <div class="datetitle">選擇日期：</div>
                            <input id="datePicker" class="datePicker" type="date" name="date">
                        </div>
                        <div class="time_container">
                            <div class="timetitle">選擇時間：</div>
                            <div class="timebutton_container">
                                <button class="timeButton1" id="morning">
                                    <!-- <div class="buttonicon1"></div> -->
                                </button>
                                <div class="booking_form_title3">上半天</div>
                                <button class="timeButton2" id="afternoon"></button>
                                <div class="booking_form_title3">下半天</div>
                                <input type="hidden" id="timePicker" name="time">
                            </div>
                        </div>
                        <div class="price_container">
                            <div class="title">導覽費用：</div>
                            <div class="booking_form_title4">
                                <span id="price">新台幣 0 元</span>
                            </div>
                        </div>
                        <button class="button_submit" id="button_submit">開始預約行程</button>
                    </form>
                </div>
        </div>
    </div>
    <div class="separator_container">
        <div class="separator"></div>
    </div>
    <div class="infors_container">
        <div class="infors">
            <div class="introduction">平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。</div>
            <div class="address_container">景點地址：</div>
            <div class="address">臺北市 大安區忠孝東路4段</div>
            <div class="traffic_container">交通方式：</div>
            <div class="traffic">捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場</div>
        </div>
    </div>
    <div class="footer">
        <div style="font-size: 16px; font-style: normal; font-weight: 700; line-height: 13.3px; color:#FFF">COPYRIGHT © 2025 台北一日遊</div>
    </div>
    <div class="modal">
        <div class="member_signin-container">
            <div class="signin_form-header"></div>
            <form class="signin_form" id="signin_form" action="/signin" method="PUT">
                <div class="form_title-container">
                    <div class="form_title">登入會員帳號</div>
                    <button class="form_x"></button>
                </div>
                <input type="text" name="email" class="name_email_password" placeholder="輸入電子信箱">
                <input type="password" name="password" class="name_email_password" placeholder="輸入密碼" autocomplete="current-password">
                <button class="signin" id="signinSubmit">登入帳戶</button>
                <div class="signininfor"></div>
                <div class="signon-container">還沒有帳戶？<button class="go_signon">點此註冊</button></div>
            </form>
        </div>
        <div class="member_signon-container">
            <div class="signon_form-header"></div>
            <form class="signon_form" id="signon_form" action="/signon" method="POST">
                <div class="form_title-container">
                    <div class="form_title">註冊會員帳號</div>
                    <button class="form_x"></button>
                </div>
                <input type="text" name="signon_name" class="name_email_password" placeholder="輸入姓名">
                <input type="text" name="signon_email" class="name_email_password" placeholder="輸入電子信箱">
                <input type="password" name="signon_password" class="name_email_password" placeholder="輸入密碼" autocomplete="new-password">
                <button class="signon" id="signonSubmit">註冊新帳戶</button>
                <div class="signoninfor"></div>
                <div class="signon-container">已經有帳戶了？<button class="return_signin">點此登入</button></div>
            </form>
        </div>
    </div>
    <script src="../static/JS/signInUp.js"></script>
    <script src="../static/JS/attraction.js"></script>
</body>
</html>
