<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/Week4CSS.css" />
</head>
<body>
    <div class="header">
        <h2 class="title" id="Title">台北一日遊</h2>
        <div class="space"></div>
        <button class="button_plan">預定行程</button>
        <button class="frame-item-4">登入/註冊</button>
        <button class="frame-item-5">登出系統</button>
    </div>
    <div class="header_line">
        您好，<span id="user_name">Yakko</span>，帶預定的行程如下:
    </div>
    <main class="infors_container">
        <div class="attraction_image">
            <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg">
        </div>
        <div class="booking_infor">
            <div class="infor_title"><span>台北一日遊：<span id="infor_name">平安鐘</span></span><button class="delete_icon_1"></button></div>
            <div class="infor_title_2">日期：<span class="text" id="infor_date">2021-04-23</span></div>
            <div class="infor_title_2">時間：<span class="text" id="infor_time">早上9點到下午4點</span></div>
            <div class="infor_title_2">費用：<span class="text" id="infor_price">新台幣2000元</span></div>
            <div class="infor_title_2">地點：<span class="text" id="infor_location">臺北市 大安區忠孝東路4段</span></div>
            <button class="delete_icon_2"></button>
        </div>
    </main>
    <div class="separator_container">
        <div class="separator"></div>
    </div>
    <div class="connection_infor_container">
        <span>您的聯絡資訊</span>
        <form class="connection_infor">
            <div class="text">聯絡姓名：<input class="input" type="text" name="connection_name"></div>
            <div class="text">聯絡信箱：<input class="input" type="text" name="connection_email"></div>
            <div class="text">手機號碼：<input class="input" type="number" name="connection_phone"></div>
        </form>
        <div>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
    </div>
    <div class="separator_container">
        <div class="separator"></div>
    </div>
    <div class="payment_infor_container">
        <span>信用卡付款資訊</span>
        <form class="connection_infor">
            <div class="text">卡片號碼：<input class="input" type="number" name="connection_name" placeholder="**** **** **** ****"></div>
            <div class="text">過期時間：<input class="input" type="number" name="connection_name" placeholder="MM/YY"></div>
            <div class="text">驗證密碼：<input class="input" type="text" name="connection_name" placeholder="CVV"></div>
        </form>
    </div>
    <div class="separator_container">
        <div class="separator"></div>
    </div>
    <div class="payment">
        <span>總價：<span>新台幣 2000 元</span></span>
        <button class="pay_button">確認訂購並付款</button>
    </div>
    <div class="footer">
        <div style="font-size: 16px; font-style: normal; font-weight: 700; line-height: 13.3px; color:#FFF">COPYRIGHT © 2021 台北一日遊</div>
    </div>
    <div class="modal">
        <div class="member_signin-container">
            <div class="signin_form-header"></div>
            <form class="signin_form" id="signin_form" action="/signin" method="PUT">
                <div class="form_title-container">
                    <div class="form_title">登入會員帳號</div>
                    <button class="form_x"></button>
                </div>
                <input type="text" name="email" class="name_email_password" placeholder="輸入電子信箱">
                <input type="password" name="password" class="name_email_password" placeholder="輸入密碼" autocomplete="current-password">
                <button class="signin" id="signinSubmit">登入帳戶</button>
                <div class="signininfor"></div>
                <div class="signon-container">還沒有帳戶？<button class="go_signon">點此註冊</button></div>
            </form>
        </div>
        <div class="member_signon-container">
            <div class="signon_form-header"></div>
            <form class="signon_form" id="signon_form" action="/signon" method="POST">
                <div class="form_title-container">
                    <div class="form_title">註冊會員帳號</div>
                    <button class="form_x"></button>
                </div>
                <input type="text" name="signon_name" class="name_email_password" placeholder="輸入姓名">
                <input type="text" name="signon_email" class="name_email_password" placeholder="輸入電子信箱">
                <input type="password" name="signon_password" class="name_email_password" placeholder="輸入密碼" autocomplete="new-password">
                <button class="signon" id="signonSubmit">註冊新帳戶</button>
                <div class="signoninfor"></div>
                <div class="signon-container">已經有帳戶了？<button class="return_signin">點此登入</button></div>
            </form>
        </div>
    </div>
    <script src="../static/JS/sign in up.js"></script>
    <script src="../static/JS/booking.js"></script>
</body>
</html>