<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        <meta charset="utf-8"/>
        <title>Taipei Attraction</title>
        <link rel="stylesheet" type="text/css" href="../static/CSS/Week2CSS.css" />
    </head>
    <body>
        <div class="frame">
            <h2 class="frame-item-1">台北一日遊</h2>
            <div class="frame-item-2"></div>
            <button class="frame-item-3">預定行程</button>
            <button class="frame-item-4">登入/註冊</button>
            <button class="frame-item-5">登出系統</button>
        </div>

        <div class="frame2">
            <div class="slogan">
                <h1 class="slogan-item-1">輕鬆享受台北一日悠閒</h1>
                <text class="slogan-item-2">探索每個角落，體驗城市的深度旅遊行程</text>              
                <form class="slogan-item-3" action="/search" method="get">
                    <input type="text" name="keyword" class="slogan-item-3-text" placeholder="輸入景點名稱查詢">
                    <button class="slogan-item-3-button"><div class="slogan-item-3-button-icon"></div></button>
                </form>
            </div>
        </div>
        
        <div class="frame3">
            <div style="display: flex; justify-content: flex-end ; align-items: center;width: 47px; height: 32px; padding: 9px 0px; ">
                <button class="frame3-left-button" id="frame3-left-button"></button>
            </div>
            <div class="frame3-listbar" id="frame3-listbar">
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
            </div>
            <div style= "display: flex; justify-content: flex-start ; align-items: center;width: 47px; height: 32px; padding: 9px 0px; ">
                <button class="frame3-right-button" id="frame3-right-button"></button>
            </div>
        </div>
        
        <div>
            <div class="frame4">
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
            </div>
            <div class="loadingObserver"></div>
        </div>
        <div class="footer">
            <div style="font-size: 16px; font-style: normal; font-weight: 700; line-height: 13.3px; color:#FFF">COPYRIGHT © 2021 台北一日遊</div>
        </div>
       <div class="modal">
            <div class="member_signin-container">
                <div class="signin_form-header"></div>
                <form class="signin_form" id="signin_form" action="/signin" method="PUT">
                    <div class="form_title-container">
                        <div class="form_title">登入會員帳號</div>
                        <button class="form_x"></button>
                    </div>
                    <input type="text" name="email" class="name_email_password" placeholder="輸入電子信箱">
                    <input type="password" name="password" class="name_email_password" placeholder="輸入密碼" autocomplete="current-password">
                    <button class="signin" id="signinSubmit">登入帳戶</button>
                    <div class="signininfor"></div>
                    <div class="signon-container">還沒有帳戶？<button class="go_signon">點此註冊</button></div>
                </form>
            </div>
            <div class="member_signon-container">
                <div class="signon_form-header"></div>
                <form class="signon_form" id="signon_form" action="/signon" method="POST">
                    <div class="form_title-container">
                        <div class="form_title">註冊會員帳號</div>
                        <button class="form_x"></button>
                    </div>
                    <input type="text" name="signon_name" class="name_email_password" placeholder="輸入姓名">
                    <input type="text" name="signon_email" class="name_email_password" placeholder="輸入電子信箱">
                    <input type="password" name="signon_password" class="name_email_password" placeholder="輸入密碼" autocomplete="new-password">
                    <button class="signon" id="signonSubmit">註冊新帳戶</button>
                    <div class="signoninfor"></div>
                    <div class="signon-container">已經有帳戶了？<button class="return_signin">點此登入</button></div>
                </form>
            </div>
        </div>
        <script src="../static/JS/index.js"></script>
        <script src="../static/JS/sign in up.js"></script>
    </body>
</html>      


