<!DOCTYPE html>
<html>
    <head>
        <meta name="view point" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        <meta charest="utf-8"/>
        <title>網頁切版</title>
        <link rel="stylesheet" type="text/css" href="../icon/Week2切版.css" />
    </head>
    <body>
        <div class="frame">
            <h2 class="frame-item-1">台北一日遊</h2>
            <div class="frame-item-2"></div>
            <button class="frame-item-3">預定行程</button>
            <button class="frame-item-4">登入/註冊</button>
        </div>

        <div class="frame2">
            <div class="slogan">
                <h1 class="slogan-item-1">輕鬆享受台北一日悠閒</h1>
                <text class="slogan-item-2">探索每個角落，體驗城市的深度旅遊行程</text>              
                <form class="slogan-item-3" action="/search" method="get">
                    <input type="text" name="keyword" class="slogan-item-3-text" placeholder="輸入景點名稱查詢">
                    <button class="slogan-item-3-button"><div class="slogan-item-3-button-icon"></div></button>
                </form>
            </div>
        </div>
        
        <div class="frame3">
            <div style="display: flex; justify-content: flex-end ; align-items: center;width: 47px; height: 32px; padding: 9px 0px; ">
                <button class="frame3-left-button" id="frame3-left-button"></button>
            </div>
            <div class="frame3-listbar" id="frame3-listbar">
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
            </div>
            <div style= "display: flex; justify-content: flex-start ; align-items: center;width: 47px; height: 32px; padding: 9px 0px; ">
                <button class="frame3-right-button" id="frame3-right-button"></button>
            </div>
        </div>
        
        <div>
            <div class="frame4">
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
            </div>
            <div class="loadingObserver"></div>
        </div>

        <div class="footer">
            <div style="font-size: 16px; font-style: normal; font-weight: 700; line-height: 13.3px; color:#FFF">COPYRIGHT © 2021 台北一日遊</div>
        </div>
       

        <script>
            let buttonRight = document.getElementById('frame3-right-button');
            let buttonLeft = document.getElementById('frame3-left-button');

            buttonRight.onclick = function () {
            document.getElementById('frame3-listbar').scrollLeft += 100;
            };
            buttonLeft.onclick = function () {
            document.getElementById('frame3-listbar').scrollLeft -= 100;
            };
        </script>

        <script>
            function getDatas() {
                fetch("http://52.200.212.151:3000/api/mrts")
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(data) {
                        let frame3 = document.querySelectorAll(".frame3-listbar-item");
                        for (let i = 0; i < data.data.length; i++) {
                            let mrt = data.data[i];
                            frame3[i].innerText = mrt;
                            frame3[i].dataset.mrt = mrt; // 設置 data-mrt 屬性
                        }
                        frame3.forEach(item => {
                            item.addEventListener("click", function() {
                                let selectedMrt = this.dataset.mrt;
                                let inputMrt = document.querySelector('.slogan-item-3-text');
                                inputMrt.value = selectedMrt;
                                // 模擬按鈕的點擊行為
                                document.querySelector('.slogan-item-3-button').click();
                            });
                        });
                    })
                    .catch(error => {
                        console.error("發生錯誤", error);
                    });
            }

            // 阻止表單的預設提交行為，這裡只需要做一次
            document.querySelector(".slogan-item-3").addEventListener("submit", function(event) {
                event.preventDefault();
            });

            getDatas();
        </script>

        <script>
            function getData(){
                fetch("http://52.200.212.151:3000/api/attractions?page=0")
                .then(function(response){
                    return response.json();
                })
                .then(function(data){
                
                    let frame4Items = document.querySelectorAll(".frame4-item");
                    
                    for(let i = 0; i < data.data.length; i++){
                        
                        let imageURL = data.data[i].images;
                        let nameData = data.data[i].name;
                        let mrtData = data.data[i].mrt;
                        let categoryData = data.data[i].category;

                        let frame4ItemImgContainer = frame4Items[i].querySelector(".frame4-item-img");
                        let frame4ItemName = frame4Items[i].querySelector(".frame4-item-name");
                        let frame4ItemMrt = frame4Items[i].querySelector(".frame4-item2-mrt");
                        let frame4ItemCategory = frame4Items[i].querySelector(".frame4-item2-category");

                        // 设置数据
                        frame4ItemName.textContent = nameData;
                        frame4ItemMrt.textContent = mrtData;
                        frame4ItemCategory.textContent = categoryData;
                    
                        let image = document.createElement("img");
                        image.src = imageURL[0];
                        frame4ItemImgContainer.appendChild(image);
                    }
                })  
            }
            getData();
        </script>

        <script>
            let nextPage = 1
            let Container = document.querySelector('.frame4')
            let loadingObserver = document.querySelector('.loadingObserver')
            let isLoading = false;
            let keyword = "";  // Declare keyword as a global variable

            document.querySelector(".slogan-item-3").addEventListener("submit", function(event) {
                event.preventDefault();
                inputData = document.querySelector("input[name=keyword]").value;
                if(inputData !== ""){
                    keyword = inputData;
                    nextPage = 0;
                    Container.innerHTML = '';
                    observer.observe(loadingObserver); // Re-attach the observer when searching again
                    fetchData();
                }else{
                    location.reload();
                }
            });

            const options = {
                threshold: 0.05
            }

            const fetchData = () => {
                if (isLoading) return; // 如果正在加載，則直接返回
                isLoading = true;
                fetch("http://52.200.212.151:3000/api/attractions?page=" + nextPage + "&keyword=" + keyword)
                .then(function(response){
                    return response.json();
                })
                .then(function(data){
                    console.log(data);
                    if (data.nextPage !== null) {
                        nextPage = data.nextPage;
                    } else {
                        observer.disconnect(); // Stop the observer if there's no next page
                    }

                    for (let i = 0; i < data.data.length; i++) {
                        let imageURL = data.data[i].images;
                        let nameData = data.data[i].name;
                        let mrtData = data.data[i].mrt;
                        let categoryData = data.data[i].category;

                        let frame4Item = document.createElement("div");
                        frame4Item.classList.add("frame4-item");

                        let frame4ItemContent = document.createElement("div");
                        frame4ItemContent.classList.add("frame4-item-content");
                        frame4Item.appendChild(frame4ItemContent);

                        let newDiv = document.createElement("div");
                        newDiv.classList.add("frame4-item-img");
                        let image = document.createElement("img");
                        image.src = imageURL[0];
                        newDiv.prepend(image);
                        frame4ItemContent.appendChild(newDiv);

                        let frame4Name = document.createElement("div");
                        frame4Name.classList.add("frame4-item-name");
                        frame4Name.textContent = nameData;
                        frame4ItemContent.appendChild(frame4Name);

                        let frame4Item2 = document.createElement("div");
                        frame4Item2.classList.add("frame4-item2");
                        frame4Item.appendChild(frame4Item2);

                        let frame4Mrt = document.createElement("div");
                        frame4Mrt.classList.add("frame4-item2-mrt");
                        frame4Mrt.textContent = mrtData;
                        frame4Item2.appendChild(frame4Mrt);

                        let frame4Category = document.createElement("div");
                        frame4Category.classList.add("frame4-item2-category");
                        frame4Category.textContent = categoryData;
                        frame4Item2.appendChild(frame4Category);

                        Container.appendChild(frame4Item);
                    }
                    isLoading = false;
                })
            }

            const callback = ([entry]) => {
            if (entry && entry.isIntersecting) {
                fetchData()
            }
            }

            let observer = new IntersectionObserver(callback, options)
            observer.observe(loadingObserver)
        </script>
    </body>
</html>      


