<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        <meta charset="utf-8"/>
        <title>Taipei Attraction</title>
        <link rel="stylesheet" type="text/css" href="static/CSS/Week2CSS.css" />
    </head>
    <body>
        <div class="frame">
            <h2 class="frame-item-1">台北一日遊</h2>
            <div class="frame-item-2"></div>
            <button class="frame-item-3">預定行程</button>
            <button class="frame-item-4">登入/註冊</button>
            <button class="frame-item-5">登出系統</button>
        </div>

        <div class="frame2">
            <div class="slogan">
                <h1 class="slogan-item-1">輕鬆享受台北一日悠閒</h1>
                <text class="slogan-item-2">探索每個角落，體驗城市的深度旅遊行程</text>              
                <form class="slogan-item-3" action="/search" method="get">
                    <input type="text" name="keyword" class="slogan-item-3-text" placeholder="輸入景點名稱查詢">
                    <button class="slogan-item-3-button"><div class="slogan-item-3-button-icon"></div></button>
                </form>
            </div>
        </div>
        
        <div class="frame3">
            <div style="display: flex; justify-content: flex-end ; align-items: center;width: 47px; height: 32px; padding: 9px 0px; ">
                <button class="frame3-left-button" id="frame3-left-button"></button>
            </div>
            <div class="frame3-listbar" id="frame3-listbar">
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
                <div class="frame3-listbar-item"></div>
            </div>
            <div style= "display: flex; justify-content: flex-start ; align-items: center;width: 47px; height: 32px; padding: 9px 0px; ">
                <button class="frame3-right-button" id="frame3-right-button"></button>
            </div>
        </div>
        
        <div>
            <div class="frame4">
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
                <div class="frame4-item">
                    <div class="frame4-item-img"></div>
                    <div class="frame4-item-name"></div>
                    <div class="frame4-item2">
                        <div class="frame4-item2-mrt"></div>
                        <div class="frame4-item2-category"></div>
                    </div>
                </div>
            </div>
            <div class="loadingObserver"></div>
        </div>
        <div class="footer">
            <div style="font-size: 16px; font-style: normal; font-weight: 700; line-height: 13.3px; color:#FFF">COPYRIGHT © 2021 台北一日遊</div>
        </div>
       <div class="modal">
            <div class="member_signin-container">
                <div class="signin_form-header"></div>
                <form class="signin_form" id="signin_form" action="/signin" method="PUT">
                    <div class="form_title-container">
                        <div class="form_title">登入會員帳號</div>
                        <button class="form_x"></button>
                    </div>
                    <input type="text" name="email" class="name_email_password" placeholder="輸入電子信箱">
                    <input type="password" name="password" class="name_email_password" placeholder="輸入密碼" autocomplete="current-password">
                    <button class="signin" id="signinSubmit">登入帳戶</button>
                    <div class="signininfor"></div>
                    <div class="signon-container">還沒有帳戶？<button class="go_signon">點此註冊</button></div>
                </form>
            </div>
            <div class="member_signon-container">
                <div class="signon_form-header"></div>
                <form class="signon_form" id="signon_form" action="/signon" method="POST">
                    <div class="form_title-container">
                        <div class="form_title">註冊會員帳號</div>
                        <button class="form_x"></button>
                    </div>
                    <input type="text" name="signon_name" class="name_email_password" placeholder="輸入姓名">
                    <input type="text" name="signon_email" class="name_email_password" placeholder="輸入電子信箱">
                    <input type="password" name="signon_password" class="name_email_password" placeholder="輸入密碼" autocomplete="new-password">
                    <button class="signon" id="signonSubmit">註冊新帳戶</button>
                    <div class="signoninfor"></div>
                    <div class="signon-container">已經有帳戶了？<button class="return_signin">點此登入</button></div>
                </form>
            </div>
        </div>
        <script> //listbar scroll
            let buttonRight = document.getElementById('frame3-right-button');
            let buttonLeft = document.getElementById('frame3-left-button');

            buttonRight.onclick = function () {
            document.getElementById('frame3-listbar').scrollLeft += 100;
            };
            buttonLeft.onclick = function () {
            document.getElementById('frame3-listbar').scrollLeft -= 100;
            };
        </script>

        <script> //listbarn功能
            function getDatas() {
                fetch("/api/mrts")
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(data) {
                        let frame3 = document.querySelectorAll(".frame3-listbar-item");
                        for (let i = 0; i < data.data.length; i++) {
                            let mrt = data.data[i];
                            frame3[i].innerText = mrt;
                            frame3[i].dataset.mrt = mrt; // 設置 data-mrt 屬性
                        }
                        frame3.forEach(item => {
                            item.addEventListener("click", function() {
                                let selectedMrt = this.dataset.mrt;
                                let inputMrt = document.querySelector('.slogan-item-3-text');
                                inputMrt.value = selectedMrt;
                                // 模擬按鈕的點擊行為
                                document.querySelector('.slogan-item-3-button').click();
                            });
                        });
                    })
                    .catch(error => {
                        console.error("發生錯誤", error);
                    });
            }

            // 阻止表單的預設提交行為，這裡只需要做一次
            document.querySelector(".slogan-item-3").addEventListener("submit", function(event) {
                event.preventDefault();
            });

            getDatas();
        </script>

        <script> // 自動生成
            function getData(){
                fetch("/api/attractions?page=0")
                .then(function(response){
                    return response.json();
                })
                .then(function(data){
                
                    let frame4Items = document.querySelectorAll(".frame4-item");
                    
                    for(let i = 0; i < data.data.length; i++){
                        
                        let imageURL = data.data[i].images;
                        let nameData = data.data[i].name;
                        let mrtData = data.data[i].mrt;
                        let categoryData = data.data[i].category;
                        let idData = data.data[i].id;

                        let frame4ItemImgContainer = frame4Items[i].querySelector(".frame4-item-img");
                        let frame4ItemName = frame4Items[i].querySelector(".frame4-item-name");
                        let frame4ItemMrt = frame4Items[i].querySelector(".frame4-item2-mrt");
                        let frame4ItemCategory = frame4Items[i].querySelector(".frame4-item2-category");

                        // 设置数据
                        frame4ItemName.textContent = nameData;
                        frame4ItemMrt.textContent = mrtData;
                        frame4ItemCategory.textContent = categoryData;
                    
                        let image = document.createElement("img");
                        image.src = imageURL[0];
                        frame4ItemImgContainer.appendChild(image);

                        frame4Items[i].addEventListener("click", function(event) {
                            event.preventDefault();
                            console.log(idData);
                            window.location = "/attraction/" + idData;
                                })
                }})  
            }
            getData();
        </script>

        <script> //Intersection Observer
            let nextPage = 1
            let Container = document.querySelector('.frame4')
            let loadingObserver = document.querySelector('.loadingObserver')
            let isLoading = false;
            let keyword = "";  // Declare keyword as a global variable

            document.querySelector(".slogan-item-3").addEventListener("submit", function(event) {
                event.preventDefault();
                 let inputData = document.querySelector("input[name=keyword]").value;
                if(inputData !== ""){
                    keyword = inputData;
                    nextPage = 0;
                    Container.innerHTML = '';
                    observer.observe(loadingObserver); // Re-attach the observer when searching again
                    fetchData();
                }else{
                    location.reload();
                }
            });

            const options = {
                threshold: 0.05
            }

            const fetchData = () => {
                if (isLoading) return; // 如果正在加載，則直接返回
                isLoading = true;
                fetch("/api/attractions?page=" + nextPage + "&keyword=" + keyword)
                .then(function(response){
                    return response.json();
                })
                .then(function(data){
                    console.log(data);
                    if (data.message === 'no spot') {
                        // 如果收到 {error: true, message: 'no spot'} 這條消息
                        Container.textContent = '查無資料';
                        observer.observe(loadingObserver);
                    }else {
                        if (data.nextPage !== null) {
                            nextPage = data.nextPage;
                        } else {
                            observer.disconnect(); // Stop the observer if there's no next page
                        }

                        for (let i = 0; i < data.data.length; i++) {
                            let imageURL = data.data[i].images;
                            let nameData = data.data[i].name;
                            let mrtData = data.data[i].mrt;
                            let categoryData = data.data[i].category;
                            let idData = data.data[i].id;

                            let frame4Item = document.createElement("div");
                            frame4Item.classList.add("frame4-item");

                            frame4Item.addEventListener("click", function(event) {
                                event.preventDefault();
                                console.log(idData);
                                window.location = "/attraction/" + idData;
                            });

                            let frame4ItemContent = document.createElement("div");
                            frame4ItemContent.classList.add("frame4-item-content");
                            frame4Item.appendChild(frame4ItemContent);

                            let newDiv = document.createElement("div");
                            newDiv.classList.add("frame4-item-img");
                            let image = document.createElement("img");
                            image.src = imageURL[0];
                            newDiv.prepend(image);
                            frame4ItemContent.appendChild(newDiv);

                            let frame4Name = document.createElement("div");
                            frame4Name.classList.add("frame4-item-name");
                            frame4Name.textContent = nameData;
                            frame4ItemContent.appendChild(frame4Name);

                            let frame4Item2 = document.createElement("div");
                            frame4Item2.classList.add("frame4-item2");
                            frame4Item.appendChild(frame4Item2);

                            let frame4Mrt = document.createElement("div");
                            frame4Mrt.classList.add("frame4-item2-mrt");
                            frame4Mrt.textContent = mrtData;
                            frame4Item2.appendChild(frame4Mrt);

                            let frame4Category = document.createElement("div");
                            frame4Category.classList.add("frame4-item2-category");
                            frame4Category.textContent = categoryData;
                            frame4Item2.appendChild(frame4Category);

                            Container.appendChild(frame4Item);
                        }
                        isLoading = false;
                    }    
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error.message);
                        });
                    }

                const callback = ([entry]) => {
                if (entry && entry.isIntersecting) {
                    fetchData()
                }
                }

                let observer = new IntersectionObserver(callback, options)
                observer.observe(loadingObserver)
        </script>

        <script> //喚醒登入頁面
            const buttonSignin = document.querySelector(".frame-item-4");
            const buttonSignout = document.querySelector(".frame-item-5");
            const memberSignincontainer = document.querySelector(".member_signin-container")
            const memberSignoncontainer = document.querySelector(".member_signon-container")
            const goSignon = document.querySelector(".go_signon");
            const returnSignin = document.querySelector(".return_signin");
            const formX = document.querySelectorAll(".form_x");
            const modal = document.querySelector(".modal");
            const signoninfor = document.querySelector(".signoninfor");
            const signininfor = document.querySelector(".signininfor");

            buttonSignin.addEventListener('click', (event) => {
                console.log("點點點!")
                event.preventDefault();
                modal.style.display = "block";
                memberSignincontainer.style.display = "block";
            });
            goSignon.addEventListener('click', (event) => {
                event.preventDefault();
                memberSignincontainer.style.display = "none";
                memberSignoncontainer.style.display = "block";
                document.getElementById("signin_form").reset();
                signininfor.style.display = "none";
            });
            returnSignin.addEventListener('click', (event) => {
                event.preventDefault();
                memberSignincontainer.style.display = "block";
                memberSignoncontainer.style.display = "none";
                document.getElementById("signon_form").reset();
                signoninfor.style.display = "none";
                memberSignoncontainer.style.height = "332px";
            });
            formX.forEach(formX => {formX.addEventListener('click', (event) => {
                event.preventDefault();
                modal.style.display = "none";
                memberSignincontainer.style.display = "none";
                memberSignoncontainer.style.display = "none";
            })});
        </script>

        <script> //登入資料
            const signonSubmit = document.querySelector("#signonSubmit");
            const signinSubmit = document.querySelector("#signinSubmit");
        
            signonSubmit.addEventListener("click", handleSignonSubmit);
            signinSubmit.addEventListener("click", handleSignonSubmit);
            
            function handleSignonSubmit(event) {
                const signonInput = getSignonInput();
                const inputResults = isInputEmpty(signonInput);
                event.preventDefault();

                if (inputResults[0] && inputResults[1]) {
                    alert("Please fills all infors");
                    console.log(inputResults[0]);
                    console.log(inputResults[1]);
                    return;
                } 

                if (!inputResults[0]){
                    signon(signonInput)
                }else{
                    signin(signonInput)
                }
            }

            function getSignonInput() {
                const signonName = document.querySelector("input[name=signon_name]").value;
                const signonEmail = document.querySelector("input[name=signon_email]").value;
                const signonPassword = document.querySelector("input[name=signon_password]").value;
                const email = document.querySelector("input[name=email]").value;
                const password = document.querySelector("input[name=password]").value;
                const signonInput = [signonName,signonEmail,signonPassword,email,password];
                return signonInput
            }

            function isInputEmpty(signonInput) {
                const firstThreeEmpty = signonInput.slice(0, 3).some(value => value === "");
                const lastTwoHasEmpty = signonInput.slice(3).some(value => value === "");
                return [firstThreeEmpty,lastTwoHasEmpty];
            }

            function submitForm(endpoint, method, signonInput) {
                fetch(endpoint, {
                    method: method,
                    body: JSON.stringify({
                        "signonName": signonInput[0],
                        "signonEmail": signonInput[1],
                        "signonPassword": signonInput[2],
                        "email": signonInput[3],
                        "password": signonInput[4],
                    }),
                    headers: {
                        "Content-type": "application/json",
                    }
                })
                .then(response => response.json())
                .then(displaySignonResponse);
            }

            function signon(signonInput) {
                submitForm("/api/user", "POST", signonInput);
            }

            function signin(signonInput) {
                submitForm("/api/user/auth", "PUT", signonInput);
            }

            function displaySignonResponse(data) {
                const signoninfor = document.querySelector(".signoninfor");
                const signininfor = document.querySelector(".signininfor");
                const memberSignoncontainer = document.querySelector(".member_signon-container");
                const memberSignincontainer = document.querySelector(".member_signin-container");
                
                if (data.ok) {
                    signonForsuccess(signoninfor, memberSignoncontainer, data);
                }  
                
                if (data.message === "Email已經註冊帳戶") {
                    signonForfailure(signoninfor, memberSignoncontainer, data);
                }

                if (data.token) {
                    signinForsuccess(signininfor, memberSignincontainer, data);
                    saveToken(data.token);
                    // submitToken();
                } 
                
                if (data.message === "電子郵件或密碼錯誤"){
                    signinForfailure(signininfor, memberSignincontainer, data);
                }

                if (data.message === "databaseError") {
                    signonForfailure(signoninfor, memberSignoncontainer, data);
                    signinForfailure(signininfor, memberSignincontainer, data);
                }
            }

            function signonForsuccess(signoninfor, memberSignoncontainer, data) {
                signoninfor.innerHTML = "<div>註冊成功，請登入系統</div>";
                signoninfor.style.display = "flex";
                memberSignoncontainer.style.height = "354px";
                signoninfor.style.color = "#489";
                console.log(data);
            }

            function signonForfailure(signoninfor, memberSignoncontainer, data) {
                signoninfor.innerHTML = `<div>${data.message}</div>`;
                signoninfor.style.display = "flex";
                memberSignoncontainer.style.height = "354px";
                signoninfor.style.color = "red";
                console.log(data.message);
            }

            function signinForsuccess(signininfor, memberSignincontainer, data) {
                signininfor.innerHTML = "<div>登入成功</div>";
                signininfor.style.display = "flex";
                memberSignincontainer.style.height = "297px";
                signininfor.style.color = "#489";
                buttonSignin.style.display = "none";
                buttonSignout.style.display = "flex";
                location.reload(); 
                console.log(data);
            }

            function signinForfailure(signininfor, memberSignincontainer, data) {
                signininfor.innerHTML = `<div>${data.message}</div>`;
                signininfor.style.display = "flex";
                memberSignincontainer.style.height = "297px";
                signininfor.style.color = "red";
                console.log(data);
            }

            buttonSignout.addEventListener('click', logout);

            function saveToken(token){
                localStorage.setItem('Token', token);
            }

            function init(){
                const token = localStorage.getItem('Token');
                console.log(token)
                if (token == null){
                    return
                }
                fetch("/api/user/auth", {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`,
                    }
                })
                .then(response => response.json())
                .then(data => loginCheck(data, buttonSignin, buttonSignout));
            }

            function loginCheck(data, buttonSignin, buttonSignout){
                if (data !== null) {
                    buttonSignin.style.display = "none";
                    buttonSignout.style.display = "flex";
                    buttonSignout.addEventListener('click', logout);
                } else {
                    buttonSignin.style.display = "flex";
                    buttonSignout.style.display = "none";
                    logout();
                }
            }

            function logout() {
                localStorage.removeItem('Token');
                location.reload(); 
            }

            window.addEventListener('load', init);
        </script>
    </body>
</html>      


